.homeBg{
    background: url('/images/section01/home_bg.jpg') no-repeat;
    background-size: cover; background-position: center; background-clip: border-box;
    overflow: visible;
}
.wild_div h2, .pet_top .pet_top_h2, .license_top h2{
    font-size: 4.5rem; color: #fff; font-weight: 700;
    text-align: center; line-height: 1.2; text-shadow: 3px 4px 5px #000;
}

/* section 02 */

.petBg{
    background: url('/images/section02/pet_bg.jpg') no-repeat;
    background-size: cover; background-position: center; background-clip: border-box;
}
.pet_div, .license{
    width: 100%; padding: 15%;
    display: flex; flex-direction: column; align-items: center;
    transform: translateY(45px); gap: 5vw 0;
}
.pet_bottom, .license_bot{
    width: 100%; height: auto; min-height: 250px;
    display: flex; flex-direction: row; align-items: center;
    justify-content: center; gap: 3vw;
}
.pet_box, .license_box{
    width: 15vw; height: 30vh; background-color: blanchedalmond;
    border: none; border-radius: 20%; cursor: pointer;
}

/* 버튼 배경이미지 */
.pet_01{background: url('../images/section02/pet_01.jpg') no-repeat; background-position: center; background-size: cover;}
.pet_02{background: url('../images/section02/pet_02.jpg') no-repeat; background-position: center; background-size: cover;}
.pet_03{background: url('../images/section02/pet_03.jpg') no-repeat; background-position: center; background-size: cover;}
.pet_04{background: url('../images/section02/pet_04.png') no-repeat; background-position: center; background-size: cover;}

.pet_01, .pet_02, .pet_03, .pet_04{opacity: 1; filter: grayscale(100%);}
.pet_01:hover, .pet_02:hover, .pet_03:hover, .pet_04:hover{opacity: 1; filter: grayscale(0%);}

/* 팝업창 */
#wrap{
    margin-top: 100px;
    margin-left: 280px;
}

.pop_wrap{
    position:fixed; 
    top:0; left:0; right:0; bottom:0; 
    background:rgba(0,0,0,.5); 
    font-size:0; text-align:center;
}
.pop_wrap:after{
    display:inline-block; 
    height:100%; vertical-align:middle; 
    content:'';
}

.pop_wrap .pop_inner{
    display:inline-block; padding:20px 40px; 
    background:#fff; width:500px; vertical-align:middle;
    font-size:15px; font-weight: 700; border-radius: 5px;
}

.pop_eco{
    display: flex; flex-direction: column; 
    align-items: center; gap: 2rem;
}
.eco_01{width: 50%;}
.eco_02{width: 100%;}
.pop_eco_div{
    display: flex; flex-direction: row;
    text-align: justify; font-weight: 500;
    line-height: 1.2; gap: 1rem;
}
.pop_eco_div2{
    display: flex; flex-direction: column; align-items: center;
    text-align: justify; font-weight: 500;
    line-height: 1.2; gap: 1rem;
}
.pop_eco_txt{display: flex; flex-direction: column; gap: 1rem;}
.btn_close{margin-top: .5rem;}

/* section 03 */
.lcs_Bg{background: url('../images/section03/license_bg.jpg') no-repeat;
    background-size: cover; background-position: center;
    background-clip: border-box; overflow: visible;
}

.license_01{background: url('../images/section03/license_02.jpg') no-repeat; background-position: center; background-size: cover;}
.license_02{background: url('../images/section03/license_01.jpg') no-repeat; background-position: center; background-size: cover;}
.license_03{background: url('../images/section03/license_03.jpg') no-repeat; background-position: center; background-size: cover;}

.license_01, .license_02, .license_03{
    opacity: 1; filter: grayscale(100%);}
.license_01:hover, .license_02:hover, .license_03:hover{
    opacity: 1; filter: grayscale(0%);}

@media screen and (max-width:1200px){
    .wild_div h2, .pet_top .pet_top_h2, .license_top h2{font-size: 3.5rem;}
    .pet_box, .license_box{width: 20vw;}
}